<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wigocreative.multas.app" version="1.1.0">
  <name>MultasApp</name>
  <description>
   Verifica tus multas en Brasil
  </description>
  <author email="wigo@wigolabs.com" href="https://wigolabs.com">
   Wigo Creative
  </author>
  <preference name="Theme" value="Theme.Material.Light" />
  <plugin name="cordova-plugin-admobpro" />
</widget>